<!DOCTYPE html>
<html>
  <head>
    <title>Hyperlink.io</title>
    <link rel='stylesheet' href='/css/hyperlink.css' />
  </head>
  <body>
    <h1>Hyperlink.io</h1>
    <ul>
      <li>
	The <a href="https://en.wikipedia.org/wiki/Hyperlink#Hyperlinks_in_various_technologies">hyperlink</a> has been sterile since the beginning of the web. 
      </li>
      <li>
	Sometimes links are <a href="http://facebook.net">broken</a> because they point nowhere.
      </li>
      <li>
	Sites can change anytime, accidentally pointing you to a 
<a href="http://reddit.com/reddit">404 page</a>.
      </li>
      <li>
<a href="spamwebsite.com">Spammy</a> links are littered all over the internet.
      </li>
      <li>
	It's 2013. Let's 
<a href="http://reddit.com/u/CarbonFiree">fix</a> the hyperlink.
      </li>

    </ul>

    <h2>Introducting Hyperlink.io</h2>
    <p>Hyperlink.io provides a layer of abstraction for hyperlinks on the web. 
It detects when a link is broken or 404'd, and allows people to 
fix them.</p>

    <script src="/js/jquery.js"></script>
    <script src="/js/hyperlink.js"></script>
  </body>
</html>
