<html>
  <head>
    <title>Test</title>
    <link rel="stylesheet" href="/css/hyperlink.css" />
  </head>
  
  <body>
    <ul>
      <li><a href="http://google.com">normal link</a></li>
      <li><a href="http://www.3x823jxm293x92.com">broken link</a></li>
      <li><a href="http://shuklan.com/134e13">404 link</a></li>
      <li><a href="https://github.com/404page">another 404 link</a></li>
    </ul>
  </body>
</html>	
