<html>
  <head>
    <title>Test</title>
    <link rel="stylesheet" href="/css/hyperlink.css" />
  </head>
  
  <body>
    <ul>
      <li><a href="http://www.google.com">normal link</a></li>
      <li><a href="http://www.3x823jxm293x92.com">broken link</a></li>
      <li><a href="http://shuklan.com/134e13">404 link</a></li>
      <li><a href="https://github.com/404page">another 404 link</a></li>
      <li><a href="http://socket.io/">1</a></li>
      <li><a href="http://github.com/learnboost/socket.io/">2</a></li>
      <li><a href="http://groups.google.com/group/socket_io">3</a></li>
      <li><a href="http://github.com/learnboost/socket.io/wiki/">4</a></li>
      <li><a href="http://devthought.com/">5</a></li>
      <li><a href="http://learnboost.com/">6</a></li>
      <li><a href="http://github.com/learnboost/">7</a></li>
      <li><a href="http://learnboost.com/">8</a></li>
      <li><a href="http://github.com/learnboost/socket.io">9</a></li>
    </ul>

    <script src="/js/jquery.js"></script>
    <script src="/js/hyperlink.js"></script>
  </body>
</html>	
